
html{
    overflow: hidden;
    background-color: #161616;
}


form{
    flex-direction: column;
    display: flex;
    padding: 15px;
    
}
.grid{grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    justify-content: center;
    align-items: center;
}
.square{
    justify-self: center;
    margin: 4px;
    width: 45px;
    height: 45px;
    background-color: #c4f3ff;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.square:nth-child(odd){
    border-radius: 10%;
    background-color:#ffc4c4
}